<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="wrapper">
      <div>
        <h1><a href="/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
        <p class="view"><a href="{{ site.github.repository_url }}">View on GitHub</a></p>
      </div>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme based on minimal</small></p>
      </footer>
    </div>
  </body>
</html>
